<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=OPC-Site;Data Source=."/>
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Warn" internalLogToConsole="false">
		<variable name="logDirectory" value="C:/log"/>
		<variable name="minimalLayout"
					value="[${logger}] ${message} ${processname} (${processid}) AppDomain='${appdomainname}'" />
		<variable name="consoleLayout" value="[${time} ${logger}] ${message} AppDomain='${appdomainname}' ${exception:format=tostring}" />
		<targets>
			<target name="logfile" xsi:type="File" layout="${date:format=yyyy-mm-dd HH\:mm\:ss.fff}|${level}|${logger}|${message} ${onexception:inner=${newline}$ ${exception:format=tostring}" fileName="${logDirectory}/GenerateLastMonthReport.log"/>
			<target name="null" xsi:type="Null" />
			<target name='debugger' xsi:type='Debugger' layout='${minimalLayout}' />
			<target name='console' xsi:type='Console' layout='${consoleLayout}' />
			<target name='consolemin' xsi:type="Console" layout="${time} ${message}" />
			<target name='serviceconsole' xsi:type='ColoredConsole' useDefaultRowHighlightingRules='true'
					layout='[${longdate}] ${message} ${exception:format=tostring}'>
				<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
				<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
				<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="logfile"/>
			<logger name="*" minlevel="Debug" writeTo="serviceconsole" />
		</rules>
	</nlog>
</configuration>