Update ShiftStatDet Set SubTotalBegin=6675841 Where ShiftId='82004F27-9CF3-49CB-BDAF-71656C7A2DEA' and Item = 'EnergyProduction1'
Update ShiftStatDet Set SubTotalBegin=6257763 Where ShiftId='82004F27-9CF3-49CB-BDAF-71656C7A2DEA' and Item = 'EnergyProduction2'
Update ShiftStatDet Set SubTotalBegin=6893 Where ShiftId='82004F27-9CF3-49CB-BDAF-71656C7A2DEA' and Item = 'SubtotalRuntime1'
Update ShiftStatDet Set SubTotalBegin=6548 Where ShiftId='82004F27-9CF3-49CB-BDAF-71656C7A2DEA' and Item = 'SubtotalRuntime2'