<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Warn" internalLogToConsole="false">
		<variable name="logDirectory" value="C:/log"/>
		<targets>
			<target name="logfile" xsi:type="File" layout="${date:format=yyyy-mm-dd HH\:mm\:ss.fff}|${level}|${message}" fileName="${logDirectory}/EBoard.log" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>